.characterPanel {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-right: 1px solid var(--black);
  box-sizing: border-box;
  padding: 10px;
}

.character__name {
  text-align: center;
  width: 100%;
}

.character__information {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.character__container{
  position: relative;
  width: fit-content;
  margin-bottom: 15px;
}

.character__information .character__stats {
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.character__image {
  width: 100%;
  height: 525px;
}

.character__image img {
  width: 100%;
  height: auto;
}

.character__actions{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.action{
  cursor:pointer;
}